body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form {
  border: 2px solid black;
  border-radius: 8px;
  width: 350px;
  padding: 5px 1rem;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(147, 54, 160, 0.6871790952709209) 0%,
    rgba(253, 29, 29, 0.37625472552302175) 53%,
    rgba(252, 176, 69, 0.5667309159992122) 100%
  );
}

input {
  border: 2px solid black;
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
}

h1 {
  font-size: 18px;
}

p {
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
}

.btn {
  color: black;
  padding: 8px;
  font-weight: 600;
  font-size: 15px;
  background: white;
}

@media (max-width: 500px) {
  form {
    max-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn {
    margin-top: 10px;
    color: black;
    padding: 9px;
    width: 200px;
    align-self: center;
  }
}
